.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.15rem;
}

.button {
  width: 4rem;
}

.body header {
  margin: 6rem;
}

.body main {
  display: flex;
}

.body p {
  margin: 0;
  line-height: normal;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 700;
}

.body p span {
  color: var(--secondary);
}

.body h2 {
  margin: 6rem;
}

.bodyContainer main {
  flex-direction: column;
  align-items: center;
}

.footerHome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerHome main {
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.footerHome main section {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.footerHome main > div {
  top: 15rem;
  width: 100%;
  height: 80%;
  background-color: var(--accent);
  border-radius: 7.5rem 7.5rem 0 0;
  position: absolute;
}

.footerHome main section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerHome main section article div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20rem;
}

.footerHome main section article div img {
  height: 100%;
  position: relative;
}

.footerHome main section article ul {
  max-width: 22.5rem;
  list-style: none;
  padding-left: 0;
}

.footerHome main section article ul li {
  position: relative;
  padding-left: 20px;
  font-size: 1.5rem;
  padding-left: 2.25rem;
  font-weight: 600;
  list-style: none;
  margin: 0.5rem;
}

.footerHome main section article ul li:before {
  content: '';
  width: 1.75rem;
  height: 1.75rem;
  position: absolute;
  background-image: url('../assets/check.png');
  background-size: cover;
  background-position: center;
  left: 0;
  top: 10%;
}

.table {
  position: relative;
}
