.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.15rem;
}

.button {
  width: 4rem;
}

.body header {
  margin: 6rem;
}

.body main {
  display: flex;
}

.body p {
  margin: 0;
  line-height: normal;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 700;
}

.body p span {
  color: var(--secondary);
}

.body h2 {
  margin: 6rem;
}

.bodyContainer main {
  flex-direction: column;
  align-items: center;
}

.footerHome {
  width: 100%;
  background-color: var(--accent);
  border-radius: 7.5rem 7.5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerHome main section {
  display: flex;
  align-items: center;
}

.footerHome main section article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerHome main section article div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
}

.footerHome main section article div img {
  height: 100%;
}