.main {
  flex: 1;
  width: calc(100% - 10rem);
  display: flex;
}

.main > section {
  display: flex;
  flex-direction: column;
}

.main > section > article {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 500;
}

.main > section > article p {
  margin: 0;
}

.main > section > article span {
  font-size: 1.25rem;
  font-weight: 500;
}

.main > section a {
  font-weight: 600;
  cursor: pointer;
}

.step {
  flex: 3;
}

.finalStep {
  flex: 1 !important;
}

.imgContainer {
  max-width: 30rem;
}

.imgContainerLastStep {
  margin-top: -5rem;
  width: 40rem;
}

.main > section:last-child img {
  margin-top: -5rem;
  max-width: 100%;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 3rem;
}

.terms {
  text-decoration: underline;
  font-size: 1.15rem;
  font-weight: 700;
  margin: 2rem 0 2rem 0;
}