.main {
  flex: 1;
  width: calc(100% - 10rem);
  display: flex;
}

.main > section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main > section > article {
  flex: 1;
  font-size: 1.5rem;
  font-weight: 500;
}

.main > section > article p {
  margin: 0;
}

.main > section > article span {
  font-size: 1.25rem;
  font-weight: 500;
}

.main > section a {
  font-weight: 500;
  cursor: pointer;
}

.main > section:first-child {
  flex: 3;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 3rem;
}