.main {
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.main section {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}

.main section div {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

.main section a {
  color: white;
}

.img {
  object-fit: contain;
  width: 2.5rem;
  height: auto;
}

.imgContainer {
  display: flex;
  justify-content: center;
}