.main {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main h1 {
  font-size: 3rem;
  font-weight: 800;
}

.main h1 span {
  color: var(--secondary);
}

.main img {
  width: 3.5rem;
  height: auto;
}