.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.headline article img {
  width: 100%;
  height: auto;
}

.headline article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline article div {
  margin: 1rem;
}

.headline article p {
  text-align: justify;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  overflow-wrap: break-word;
  margin: 0;
}

.headline article p:nth-child(1) {
  font-size: 4.65rem;
}

.headline article p:nth-child(2) {
  font-size: 5rem;
}

.headline article p:nth-child(4) {
  font-size: 5.40rem;
}

.headline article p span {
  color: var(--secondary);
}
