.home {
  background-image: url('../assets/background.png');
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.headline article {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headline article p {
  text-align: justify;
  font-size: 5rem;
  font-weight: 700;
  line-height: normal;
}