.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.15rem;
}

.button {
  width: 4rem;
}

.cards header {
  margin: 6rem;
}

.cards main {
  display: flex;
}

.cards p {
  margin: 0;
  line-height: normal;
  font-size: 3.5rem;
  text-align: center;
  font-weight: 600;
}

.cards p span {
  color: var(--secondary);
}