.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headline article img {
  width: 40rem;
  height: auto;
}

.headline article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.headline article p {
  text-align: justify;
  font-size: 5rem;
  font-weight: 700;
  line-height: normal;
  width: 100%;
}
