.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.headline article img {
  width: 100%;
  height: auto;
}

.headline article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.headline article p {
  text-align: justify;
  font-size: 4rem;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  overflow-wrap: break-word;
  margin: 0;
}
