@font-face {
  font-family: 'Montserrat';
  src: url('../public/fonts/Montserrat.ttf') format('truetype');
}

:root {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --accent: #00609c;
  --secondary: #fa4d09;
}

.App {
  background-image: url('./assets/background.png');
  background-size: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

body {
  margin: 0;
}